@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  @layer components {
    .max-container {
      max-width: 1340px;
      margin: 0 auto;
      
    }
  
    /* Your custom styles in a .css file */
    /* .input {
      @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
    } */

    .text-slate-gray {
      color: #718096; /* Replace with your desired color */
    }
  }
  
  @layer utilities {
    .padding {
      @apply sm:px-16 px-8 sm:py-24 py-12;
    }
  
    .padding-x {
      @apply sm:px-16 px-8;
    }
  
    .padding-y {
      @apply sm:py-24 py-12;
    }
  
    .padding-l {
      @apply sm:pl-16 pl-8;
    }
  
    .padding-r {
      @apply sm:pr-16 pr-8;
    }
  
    .padding-t {
      @apply sm:pt-16 pt-12;
    }
  
    .padding-b {
      @apply sm:pb-24 pb-12;
    }
  
    .info-text {
      @apply font-poppins text-slate-gray text-lg leading-7;
    }
  }
